/*
картинки-заглушки
https://via.placeholder.com/150x100
*/
@font-face {
  font-family: "CurseCasual";
  src: local("CurseCasual"), url("../assets/fonts/CurseCasualEng.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  min-height: 100%;
  height: 100%;
}

.page-body {
  min-height: 100%;
  height: 100%;
  font-size: 18px;
  font-family: CurseCasual, Arial, Helvetica, sans-serif;
  background-color: #2c7580;
  color: #ccc;
  touch-action: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*безопасное скрытие элемента*/
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.wrapper {
  position: relative;
  margin: 50px auto;
  min-width: 400px;
  width: 400px;
  min-height: 450px;
  outline: 2px dashed gold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: auto;
  height: 400px;
  width: 200px;
  border: 1px solid black;
  transform-origin: center;
}

.card-front {
  background: darkblue;
}

.card-back {
  background: darkgreen;
}

.card:hover {
  cursor: pointer;
}




















